/* Thumbnails */

// Thumbnail background color
@plone-thumbnail-bg: @plone-body-bg;

// Thumbnail border color
@plone-thumbnail-border: #ddd;

// Custom text color for thumbnail captions
@plone-thumbnail-caption-color: @plone-text-color;

// Padding around the thumbnail image
@plone-thumbnail-padding: 4px;

// Thumbnail border radius
@plone-thumbnail-border-radius: @plone-border-radius-base;

// Padding around the thumbnail caption
@plone-thumbnail-caption-padding: 9px;
