[buildout]
extends =
    https://raw.githubusercontent.com/it-spirit/buildout.plone/master/themepreview.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.1.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.githubusercontent.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/it-spirit/buildout.plone/master/common.cfg

versions = versions
package-name = plonetheme.barcelonetang
package-extras = [test]
robot_tests_folder = ${buildout:directory}/src/plonetheme/barcelonetang/tests/robot
thempreview-packages = plone.app.contenttypes,${buildout:package-name}
thempreview-profiles = plone.app.theming:default,plone.app.contenttypes:default,${buildout:package-name}:default

eggs +=
    Products.PrintingMailHost
test-eggs +=
    Pillow

parts +=
    createcoverage
    i18ndude
    node
    npm-install
    rebuild_docs-sh
    rebuild_i18n-sh
    releaser
    sphinxbuilder
    testnorobot
    updatedocsimages
    zptlint

extensions +=
    mr.developer

sources-dir = checkouts
auto-checkout = *
always-checkout = true


[code-analysis]
clean-lines-exclude =
    ${buildout:directory}/node_modules
    ${buildout:directory}/src/plonetheme/barcelonetang/theme/node_modules
directory = ${buildout:directory}/src/plonetheme
flake8-exclude =
    ${buildout:directory}/node_modules,
    ${buildout:directory}/src/plonetheme/barcelonetang/theme/node_modules


[instance]
eggs +=
    ${buildout:package-name}[testfixture]


[npm-install]
recipe = plone.recipe.command
command = cd ${buildout:directory}; npm install .; cd ${buildout:directory}/src/spirit/diazo/example/theme; npm install .


[sources]
collective.tiles.sliders = git https://github.com/it-spirit/collective.tiles.sliders.git


[versions]
# Don't use a released version of spirit.diazo.example
spirit.diazo.example =

collective.themesitesetup = 1.3.2
plone.app.blocks = 4.1.1
plone.app.drafts = 1.1.2
plone.app.mosaic = 2.0rc8
plone.app.standardtiles = 2.2.0
plone.app.tiles = 3.0.3
plone.formwidget.multifile = 2.0
plone.jsonserializer = 0.9.5
plone.subrequest = 1.8.1
plone.tiles = 2.0.0b3
robotframework-selenium2screenshots = 0.6
spirit.plone.theming =
zope.app.i18n = 3.6.4
