/* Color related variable defintions. */

/* Base Colors */

// Grays
@plone-gray-darker: lighten(#000, 20%);   // #333
@plone-gray-dark: lighten(#000, 30%);   // #4c4c4c
@plone-gray: lighten(#000, 41%);   // #696969
@plone-gray-light: lighten(#000, 46.5%); // #767676 //discreet
@plone-gray-lighter: lighten(#000, 80%);   // #ccc //disableds like

// Colors
@plone-default-published-color: @plone-link-color; //published and external same color
@plone-default-draft-color: darken(@plone-toolbar-draft-color, 15%); // lime-yellow //draft is visible
@plone-default-pending-color: darken(@plone-toolbar-pending-color, 15%); // orange
@plone-default-private-color: @plone-toolbar-private-color; // red
@plone-default-internal-color: darken(@plone-toolbar-internal-color, 15%); // is draft
@plone-default-internally-published-color: darken(@plone-toolbar-internally-published-color, 5%); // is intranet

// Scaffolding
@plone-body-bg: #fafafa; //almost-white
@plone-footer-bg: #2e3133; //blued-darkgray
@plone-text-color: @plone-gray-dark;
@plone-link-hover-color: darken(@plone-link-color, 15%);


/* Typography */
@plone-headings-color: inherit;


/* Components */
// Global colors for active items (e.g., navs or dropdowns).
@plone-component-active-color: #fff;
// Global background color for active items (e.g., navs or dropdowns).
@plone-component-active-bg: @plone-link-color;


/* Tables */
@plone-table-bg: #fff;
@plone-table-bg-accent: #f6f6f6;
@plone-table-bg-hover: #f0f0f0;
@plone-table-bg-active: @plone-table-bg-hover;
@plone-table-border-color: #e5e5e5;


/* States */
@plone-state-info-text: rgba(0,0,0,.5);
@plone-state-info-bg: #aad6ea;
@plone-state-info-border: 1px solid darken(@plone-state-info-bg,4%);
@plone-state-info-bullet: #3e7b91;
@plone-state-warning-text: rgba(0,0,0,.5);
@plone-state-warning-bg: #ebd380;
@plone-state-warning-border: 1px solid darken(@plone-state-warning-bg,6%);
@plone-state-warning-bullet: #bc8d0d;
@plone-state-error-text: rgba(0,0,0,.5);
@plone-state-error-bg: #EC9C8D;
@plone-state-error-border: 1px solid darken(@plone-state-error-bg,2%);
@plone-state-error-bullet: #ac493f;
