/* Color related variable defintions. */

/* Base Colors */

// Grays
@plone-gray-darker: lighten(#000, 20%);   // #333
@plone-gray-dark: lighten(#000, 30%);   // #4c4c4c
@plone-gray: lighten(#000, 41%);   // #696969
@plone-gray-light: lighten(#000, 46.5%); // #767676 //discreet
@plone-gray-lighter: lighten(#000, 80%);   // #ccc //disableds like

// Colors
@plone-default-published-color: @plone-link-color; //published and external same color
@plone-default-draft-color: darken(@plone-toolbar-draft-color, 15%); // lime-yellow //draft is visible
@plone-default-pending-color: darken(@plone-toolbar-pending-color, 15%); // orange
@plone-default-private-color: @plone-toolbar-private-color; // red
@plone-default-internal-color: darken(@plone-toolbar-internal-color, 15%); // is draft
@plone-default-internally-published-color: darken(@plone-toolbar-internally-published-color, 5%); // is intranet

// Scaffolding
@plone-body-bg: #fafafa; //almost-white
@plone-footer-bg: #2e3133; //blued-darkgray
@plone-text-color: @plone-gray-dark;
@plone-link-hover-color: darken(@plone-link-color, 15%);


/* Typography */
@plone-headings-color: inherit;


/* Components */
// Global colors for active items (e.g., navs or dropdowns).
@plone-component-active-color: #fff;
// Global background color for active items (e.g., navs or dropdowns).
@plone-component-active-bg: @plone-link-color;


/* Tables */
@plone-table-bg: #fff;
@plone-table-bg-accent: #f6f6f6;
@plone-table-bg-hover: #f0f0f0;
@plone-table-bg-active: @plone-table-bg-hover;
@plone-table-border-color: #e5e5e5;


/* States */
@plone-state-info-text: rgba(0,0,0,.5);
@plone-state-info-bg: #aad6ea;
@plone-state-info-border: 1px solid darken(@plone-state-info-bg,4%);
@plone-state-info-bullet: #3e7b91;
@plone-state-warning-text: rgba(0,0,0,.5);
@plone-state-warning-bg: #ebd380;
@plone-state-warning-border: 1px solid darken(@plone-state-warning-bg,6%);
@plone-state-warning-bullet: #bc8d0d;
@plone-state-error-text: rgba(0,0,0,.5);
@plone-state-error-bg: #EC9C8D;
@plone-state-error-border: 1px solid darken(@plone-state-error-bg,2%);
@plone-state-error-bullet: #ac493f;


/* Buttons */
@plone-btn-standalone-color: @plone-gray-dark;
@plone-btn-standalone-bg: #e5e5e5;
@plone-btn-standalone-border: darken(@plone-btn-standalone-bg, 20%);
@plone-btn-context-color: #fff;
@plone-btn-context-bg: @plone-link-color;
@plone-btn-context-border: darken(@plone-btn-context-bg, 10%);
@plone-btn-destructive-color: #fff;
@plone-btn-destructive-bg: #bb4f45;
@plone-btn-destructive-border: darken(@plone-btn-destructive-bg, 10%);

/* Forms */
// `<input>` background color
@plone-input-bg: #fff;
// `<input disabled>` background color
@plone-input-bg-disabled: @plone-table-border-color;
// Text color for `<input>`s
@plone-input-color: @plone-gray;
// `<input>` border color
@plone-input-border: #ccc;
// Border color for inputs on focus
@plone-input-border-focus: @plone-portlet-list-bullet;
// Placeholder text color
@plone-input-color-placeholder: @plone-gray-light;
@plone-legend-color: @plone-gray-dark;
@plone-legend-border-color: #e5e5e5;

// Background color for textual input addons
@plone-input-group-addon-bg: @plone-gray-lighter;
// Border color for textual input addons
@plone-input-group-addon-border-color: @plone-input-border;


/* Alerts */
@plone-alert-info-bg: @plone-state-info-bg;
@plone-alert-info-text: @plone-state-info-text; //the text on alert is black with opacity to use the same color and match the bg.
@plone-alert-info-border: @plone-state-info-border;
@plone-alert-info-bullet: @plone-state-info-bullet;
@plone-alert-warning-bg: @plone-state-warning-bg;
@plone-alert-warning-text: @plone-state-warning-text;
@plone-alert-warning-border: @plone-state-warning-border;
@plone-alert-warning-bullet: @plone-state-warning-bullet;
@plone-alert-error-bg: @plone-state-error-bg;
@plone-alert-error-text: @plone-state-error-text;
@plone-alert-error-border: @plone-state-error-border;
@plone-alert-error-bullet: @plone-state-error-bullet;
